.blogs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    flex: 1;
    width: 100%;

    padding: 3em 0em;
}

.blogs nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: fit-content;
    width: 10%;

    margin-left: 1em;

    box-shadow: 0px 0px 20px 0px var(--clr-box-shadow);
    background-color: white;
}

.blogs nav .navigateToStart,
.blogs nav .navigateToPinnedBlog,
.blogs nav .navigateToDatabaseBlog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    font-size: 1.1em;

    box-shadow: 0px 0px 6px 0px var(--clr-box-shadow);

    transition: background-color .3s ease-in;
    transform-origin: left;
}

.blogs nav .navigateToStart:hover,
.blogs nav .navigateToPinnedBlog:hover,
.blogs nav .navigateToDatabaseBlog:hover {
    cursor: pointer;

    background-color: var(--clr-box-shadow);
}

.blogs nav .navigateToStart,
.blogs nav .navigateToPinnedBlog {
    gap: 1em;
}

.blogs nav .navigateToStart .pinnedBlogIcon,
.blogs nav .navigateToPinnedBlog .pinnedBlogIcon{
    color: darkgray;
}

.blogs main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 90%;
}

.blogs main .pinnedBlog {
    width: 70%;
}

.blogs main .pinnedBlog .blog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;

    min-height: 350px;
    width: 100%;

    background-color: var(--clr-blogs-bg);
    box-shadow: 0px 0px 20px 0px var(--clr-box-shadow);
}

.blogs main .pinnedBlog .blog header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    min-height: 60px;
    width: 100%;

    box-shadow: 0px 2px 12px 0px var(--clr-box-shadow)
}

.blogs main .pinnedBlog .blog header .pinnedBlogName,
.blogs main .pinnedBlog .blog header .pinnedBlogIcon {
    height: 60px;

    padding: 1em 2em;
}

.blogs main .pinnedBlog .blog header .pinnedBlogName {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 80%;
}

.blogs main .pinnedBlog .blog header .pinnedBlogName h1 {
    margin: 0;
    
    font-size: 2.5rem;
}

.blogs main .pinnedBlog .blog header .pinnedBlogIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 20%;
}

.blogs main .pinnedBlog .blog header .pinnedBlogIcon .pinIcon {
    font-size: 2rem;

    color: darkgray;
}

.blogs main .pinnedBlog .blog article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: .5em;

    flex: 1;
    width: 90%;

    margin: 0em 2em 1.5em 2em;
}

.blogs main .pinnedBlog .blog article p {
    margin: 0;

    font-size: 1.25rem;
}

.blogs main .pinnedBlog .blog article p.lastParagraph {
    padding-top: 2em;
}