.blogs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    flex: 1;
    width: 100%;

    padding: 5em 0em 3em 0em;
}

.blogs nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5em;
    
    position: sticky;
    top: 1.5em;

    max-height: 75dvh;
    width: 20%;

    margin-left: 2.5em;
    padding: 1.25em 1.25em 1.5em 1.25em;

    overflow-y: auto;

    box-shadow: 0px 0px 20px 0px var(--clr-box-shadow);
    background-color: white;
}

.blogs nav .navigateToStart,
.blogs nav .navigateToPinnedBlog,
.blogs nav .navigateToDatabaseBlog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    font-size: 1.1em;
    line-height: 1.5em;

    box-shadow: 0px 0px 6px 0px var(--clr-box-shadow);
}

.blogs nav .pinnedBlogsHeader,
.blogs nav .databaseBlogsHeader {
    width: 100%;

    text-align: center;

    background-color: lightgray;
}

.blogs nav .pinnedBlogsHeader p,
.blogs nav .databaseBlogsHeader p {
    font-size: 1.25em;
    
    padding: 0;
    margin: 0;
}

.blogs nav .navigateSeparator {
    min-height: .2em;
    min-width: 100%;   

    background-color: gray;
}

.blogs nav .navigateToStart p,
.blogs nav .navigateToPinnedBlog p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
    padding-left: 1em;
}

.blogs nav .navigateToPinnedBlog p {
    text-align: center;
}

.blogs nav .navigateToDatabaseBlog p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
    padding: 0em 1em;
}

.blogs nav .navigateToStart .pinnedBlogIcon,
.blogs nav .navigateToPinnedBlog .pinnedBlogIcon {
    padding-right: 1em;
}

.blogs nav .navigateToDatabaseBlog > * {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    text-align: center;
}

.blogs nav .navigateToStart:hover,
.blogs nav .navigateToPinnedBlog:hover,
.blogs nav .navigateToDatabaseBlog:hover {
    cursor: pointer;

    background-color: var(--clr-box-shadow);
}

.blogs nav .navigateToStart:hover::before,
.blogs nav .navigateToPinnedBlog:hover::before,
.blogs nav .navigateToDatabaseBlog > *:hover::before {
    content: attr(data-tooltip);

    
    display: block;
    position: absolute;
    transform: translate(0, -40px);
    
    height: fit-content;
    width: calc(100% - 3em);

    font-size: .75em;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    background-color: gray;
}

.blogs nav .navigateToStart,
.blogs nav .navigateToPinnedBlog {
    gap: 1em;
}

.blogs nav .navigateToStart .pinnedBlogIcon,
.blogs nav .navigateToPinnedBlog .pinnedBlogIcon{
    color: darkgray;
}

.blogs main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 80%;
}

.blogs main .pinnedBlog {
    width: 70%;
}

.blogs main .pinnedBlog .blog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;

    height: fit-content;
    width: 100%;

    background-color: var(--clr-blogs-bg);
    box-shadow: 0px 0px 20px 0px var(--clr-box-shadow);
}

.blogs main .pinnedBlog .blog header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    height: 80px;
    width: 100%;

    box-shadow: 0px 2px 12px 0px var(--clr-box-shadow)
}

.blogs main .pinnedBlog .blog header .pinnedBlogName,
.blogs main .pinnedBlog .blog header .pinnedBlogIcon {
    height: 60px;

    padding: 1em 2em;
}

.blogs main .pinnedBlog .blog header .pinnedBlogName {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 80%;
}

.blogs main .pinnedBlog .blog header .pinnedBlogName h1 {
    margin: 0;
    
    font-size: 2.5rem;
}

.blogs main .pinnedBlog .blog header .pinnedBlogIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 20%;
}

.blogs main .pinnedBlog .blog header .pinnedBlogIcon .pinIcon {
    font-size: 2rem;

    color: darkgray;
}

.blogs main .pinnedBlog .blog article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: .5em;

    flex: 1;
    width: 90%;

    padding: 0em 2em 1.5em 2em;
}

.blogs main .pinnedBlog .blog article p {
    margin: 0;

    font-size: 1.25rem;
}

.blogs main .pinnedBlog .blog article p.lastParagraph {
    padding-top: 2em;
}

@media screen and (max-width: 1000px) {
    .blogs nav::-webkit-scrollbar {
        width: .2em;
    }
}

/*   MOBILE VERSION   */
@media screen and (max-width: 800px) {
    .blogs {
        flex-direction: column;
        align-items: center;

        gap: 3em;
    }

    .blogs nav {
        flex-direction: row;
        gap: 1em;

        width: fit-content;
        max-width: 80%;

        margin: 0;

        overflow-y: auto;

        position: relative;
        top: 0;
    }

    .blogs nav > *:not(.navigateSeparator, .pinnedBlogsHeader, .databaseBlogsHeader) {
        min-width: 110px;
        height: 100%;
    }

    .blogs nav .navigateToDatabaseBlog {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .blogs nav .navigateToDatabaseBlog > * {
        height: 50px;
        width: 100%;
    
        text-align: center;
    }

    .blogs nav .navigateToStart:hover::before,
    .blogs nav .navigateToPinnedBlog:hover::before,
    .blogs nav .navigateToDatabaseBlog > *:hover::before {
        content: none;
    }

    .blogs nav .navigateToStart p,
    .blogs nav .navigateToPinnedBlog p,
    .blogs nav .navigateToDatabaseBlog p,
    .blogs nav .navigateToStart .pinnedBlogIcon,
    .blogs nav .navigateToPinnedBlog .pinnedBlogIcon {
        font-size: .7em;
    }

    .blogs nav .navigateSeparator {
        height: 100%;
        min-width: .3em;

        margin: 0em 1em;
    }

    .blogs nav .pinnedBlogsHeader,
    .blogs nav .databaseBlogsHeader {
        min-width: 125px;

        font-size: .8em;
        
        padding: 0em 1em;
    }

    .blogs nav .pinnedBlogsHeader p {
        display: block;
        white-space: pre-line;
    }

    .blogs main {
        width: 100%;
    }

    .blogs main .pinnedBlog .blog header .pinnedBlogName,
    .blogs main .pinnedBlog .blog header .pinnedBlogIcon {
        height: 40px;

        padding: 1em 2em;
    }
}

@media screen and (max-width: 770px) {
    .blogs main .pinnedBlog .blog header .pinnedBlogName h1 {
        font-size: 2.1rem;
    }

    .blogs main .pinnedBlog .blog header .pinnedBlogIcon .pinIcon {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 750px) {
    .blogs main .pinnedBlog .blog article p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 700px) {
    .blogs main .pinnedBlog .blog header .pinnedBlogName h1,
    .blogs main .pinnedBlog .blog header .pinnedBlogIcon .pinIcon {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 500px) {
    .blogs nav > * {
        min-width: 80px;
        max-width: 100px;
    }

    .blogs nav .navigateToStart,
    .blogs nav .navigateToPinnedBlog {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 0em;
    }

    .blogs nav .navigateToStart p,
    .blogs nav .navigateToPinnedBlog p {
        padding: 0;
    }

    .blogs nav .navigateToStart .pinnedBlogIcon,
    .blogs nav .navigateToPinnedBlog .pinnedBlogIcon {
        margin-top: 1em;
    }

    .blogs nav .navigateToStart p,
    .blogs nav .navigateToPinnedBlog p,
    .blogs nav .navigateToDatabaseBlog p,
    .blogs nav .navigateToStart .pinnedBlogIcon,
    .blogs nav .navigateToPinnedBlog .pinnedBlogIcon  {
        font-size: .5em;
    }

    .blogs nav .navigateToStart .pinnedBlogIcon,
    .blogs nav .navigateToPinnedBlog .pinnedBlogIcon {
        padding-right: 0em;
    }

    .blogs main .pinnedBlog .blog header {
        height: 60px;
    }

    .blogs main .pinnedBlog .blog header .pinnedBlogName h1,
    .blogs main .pinnedBlog .blog header .pinnedBlogIcon .pinIcon  {
        font-size: 1.25rem;
    }

    .blogs main .pinnedBlog .blog article p {
        font-size: .8rem;
    }

    .blogs main .pinnedBlog .blog header .pinnedBlogName,
    .blogs main .pinnedBlog .blog header .pinnedBlogIcon {
        height: 40px;

        padding: .5em 1.5em;
    }
}

@media screen and (max-width: 400px) {
    .blogs nav .navigateToStart p,
    .blogs nav .navigateToPinnedBlog p,
    .blogs nav .navigateToDatabaseBlog p,
    .blogs nav .navigateToStart .pinnedBlogIcon,
    .blogs nav .navigateToPinnedBlog .pinnedBlogIcon  {
        font-size: .5em;
    }

    .blogs main .pinnedBlog .blog header .pinnedBlogName {
        width: 90%;
    }

    .blogs main .pinnedBlog .blog header .pinnedBlogIcon {
        width: 10%;
    }

    .blogs main .pinnedBlog .blog header .pinnedBlogName h1,
    .blogs main .pinnedBlog .blog header .pinnedBlogIcon .pinIcon  {
        font-size: 1rem;
    }

    .blogs main .pinnedBlog .blog header .pinnedBlogIcon .pinIcon {
        padding-left: 0em;
    }

    .blogs main .pinnedBlog .blog article p {
        font-size: .7rem;
    }

    .blogs main .pinnedBlog .blog header .pinnedBlogName,
    .blogs main .pinnedBlog .blog header .pinnedBlogIcon {
        height: 30px;

        padding: .5em 1.5em;
    }
}

@media screen and (max-width: 280px) {
    .blogs nav {
        margin: 0em 5em;
    }

    .blogs main .pinnedBlog .blog header {
        height: 40px;
    }

    .blogs main .pinnedBlog .blog header .pinnedBlogName h1,
    .blogs main .pinnedBlog .blog header .pinnedBlogIcon .pinIcon  {
        font-size: .65rem;
    }

    .blogs main .pinnedBlog .blog header .pinnedBlogName h1 {
        padding-right: 0em;
    }

    .blogs main .pinnedBlog .blog article p {
        font-size: .45rem;
    }

    .blogs main .pinnedBlog .blog header .pinnedBlogName,
    .blogs main .pinnedBlog .blog header .pinnedBlogIcon {
        height: 20px;

        padding: 0em 1.5em;
    }
}

::-webkit-scrollbar {
    height: .6em;
    width: 1dvw;
}

::-webkit-scrollbar-track {
    background-color: var(--clr-blogs-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-box-shadow);
}

.blogs nav::-webkit-scrollbar {
    height: .5em;
    width: .8vw;
}