.fullBlog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-height: 100dvh;
    width: 100%;

    background-color: white;
}

.fullBlog .loader {
    padding: 0;
}

.fullBlog header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 180px;
    width: 100%;

    font-size: 2rem;

    box-shadow: 0px 2px 12px 0px var(--clr-box-shadow)
}

.fullBlog header .header-left {
    height: max-content;
    width: 70%;
}

.fullBlog header .header-left h1 {
    padding-left: 1em;
}

.fullBlog header .header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: max-content;
    width: 30%;
}

.fullBlog header .header-right .header-right-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    height: 90px;
    width: 100%;

    text-align: right;
}

.fullBlog header .header-right .header-right-top p {
    font-size: .75em;
    padding-right: 1em;
}

.fullBlog header .header-right .header-right-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    height: 90px;
    width: 100%;

    text-align: right;
}

.fullBlog header .header-right .header-right-bottom .backIcon {
    font-size: .75em;
    padding-right: 2em;
}

.fullBlog header .header-right .header-right-bottom .backIcon:hover {
    cursor: pointer;
}

.fullBlog main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5em;

    width: 100%;

    padding-top: 3em;
}

.fullBlog main article {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 100%;

    font-size: 1.5rem;
    word-break: break-all;
}

.fullBlog main article p {
    padding: 0em 2em;
}

.fullBlog main aside {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin-bottom: 5em;
}

.fullBlog main aside img {
    min-height: 200px;
    max-height: 400px;
    
    min-width: 25%;
    max-width: 75%;
}