.blogs nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5em;
    
    position: sticky;
    top: 1.5em;

    max-height: 85dvh;
    width: 20%;

    margin-left: 2.5em;
    padding: 1.25em 1.25em 1.5em 1.25em;

    overflow-y: auto;

    box-shadow: 0px 0px 20px 0px var(--clr-box-shadow);
    background-color: white;
}

.blogs nav .navigateToStart,
.blogs nav .navigateToPinnedBlog,
.blogs nav .navigateToDatabaseBlog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    font-size: 1.1em;
    line-height: 1.5em;

    border: .2em solid white;

    box-shadow: 0px 0px 6px 0px var(--clr-box-shadow);
}

.blogs nav .pinnedInformationsHeader,
.blogs nav .databaseBlogsHeader {
    width: 100%;

    text-align: center;

    color: var(--clr-blogs-navbar-infoContainer-font);
    background-color: var(--clr-blogs-navbar-infoContainer-bg);
}

.blogs nav .pinnedInformationsHeader p,
.blogs nav .databaseBlogsHeader p {
    font-size: 1.25em;
    
    padding: 0;
    margin: 0;
}

.blogs nav .navigateToStart p,
.blogs nav .navigateToPinnedBlog p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
    padding-left: 1em;
}

.blogs nav .navigateToPinnedBlog p {
    text-align: center;
}

.blogs nav .navigateToDatabaseBlog p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
    padding: 0em 1em;
}

.blogs nav .navigateToStart .pinnedBlogIcon,
.blogs nav .navigateToPinnedBlog .pinnedBlogIcon {
    padding-right: 1em;
}

.blogs nav .navigateToDatabaseBlog > * {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    text-align: center;
}

.blogs nav .navigateToStart:hover,
.blogs nav .navigateToPinnedBlog:hover,
.blogs nav .navigateToDatabaseBlog:hover {
    cursor: pointer;

    border: .2em solid var(--clr-blogs-navbar-hovered-option-border-bg);
    
    box-shadow: none;

    transition: border linear .5s, box-shadow linear .5s;
}

.blogs nav .navigateToStart,
.blogs nav .navigateToPinnedBlog {
    gap: 1em;
}

.blogs nav .navigateToStart .pinnedBlogIcon,
.blogs nav .navigateToPinnedBlog .pinnedBlogIcon{
    color: var(--clr-blogs-navbar-icon);
}

@media screen and (max-width: 1000px) {
    .blogs nav::-webkit-scrollbar {
        width: .2em;
    }
}

@media screen and (max-width: 800px) {
    .blogs nav {
        flex-direction: row;
        gap: 1em;

        width: fit-content;
        max-width: 80%;

        margin: 0;

        overflow-y: auto;

        position: relative;
        top: 0;
    }

    .blogs nav > *:not(.pinnedInformationsHeader, .databaseBlogsHeader) {
        min-width: 110px;
        height: 100%;
    }

    .blogs nav .navigateToDatabaseBlog {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .blogs nav .navigateToDatabaseBlog > * {
        height: 50px;
        width: 100%;
    
        text-align: center;
    }

    .blogs nav .navigateToStart p,
    .blogs nav .navigateToPinnedBlog p,
    .blogs nav .navigateToDatabaseBlog p,
    .blogs nav .navigateToStart .pinnedBlogIcon,
    .blogs nav .navigateToPinnedBlog .pinnedBlogIcon {
        font-size: .7em;
    }

    .blogs nav .pinnedInformationsHeader,
    .blogs nav .databaseBlogsHeader {
        min-width: 125px;

        font-size: .6em;
        
        padding: 0em 1em;
    }

    .blogs nav .pinnedInformationsHeader p {
        display: block;
        white-space: pre-line;
    }
}

@media screen and (max-width: 500px) {
    .blogs nav > * {
        min-height: 60px;
    }

    .blogs nav .navigateToStart,
    .blogs nav .navigateToPinnedBlog {
        flex-direction: column-reverse;
        gap: 0em;

        min-width: 110px;
    }

    .blogs nav .navigateToStart p,
    .blogs nav .navigateToPinnedBlog p {
        padding: 0;
        margin: 0;
    }

    .blogs nav .navigateToStart .pinnedBlogIcon,
    .blogs nav .navigateToPinnedBlog .pinnedBlogIcon {
        margin-top: 1em;
    }

    .blogs nav .navigateToStart p,
    .blogs nav .navigateToPinnedBlog p,
    .blogs nav .navigateToDatabaseBlog p,
    .blogs nav .navigateToStart .pinnedBlogIcon,
    .blogs nav .navigateToPinnedBlog .pinnedBlogIcon  {
        font-size: .6em;
    }

    .blogs nav .navigateToStart .pinnedBlogIcon,
    .blogs nav .navigateToPinnedBlog .pinnedBlogIcon {
        padding-right: 0em;
    }

    .blogs nav .pinnedInformationsHeader,
    .blogs nav .databaseBlogsHeader {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 120px;
        
        font-size: .6em;
    }
}

@media screen and (max-width: 400px) {
    .blogs nav .navigateToStart p,
    .blogs nav .navigateToPinnedBlog p,
    .blogs nav .navigateToDatabaseBlog p,
    .blogs nav .navigateToStart .pinnedBlogIcon,
    .blogs nav .navigateToPinnedBlog .pinnedBlogIcon  {
        font-size: .5em;
    }
}

@media screen and (max-width: 280px) {
    .blogs nav {
        margin: 0em 5em;
    }
}

.blogs nav::-webkit-scrollbar {
    height: .5em;
    width: .8vw;
}