.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-height: 300px;
    width: 100%;

    box-shadow: 0px 2px 12px 0px var(--clr-box-shadow);

    color: var(--clr-font);
    background-color: var(--clr-header-bg)
}

.photoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    width: 30%;

    padding: 1em;
}

.photoContainer img {
    height: 200px;
    width: 200px;

    border-radius: 50%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70%;

    padding: 1em;
}

.textContainer h1 {
    font-size: 2em;
}

.textContainer p {
    font-size: 1.2em;
    line-height: 1.5em;

    text-align: center;
}

@media screen and (max-width: 1100px) {
    .photoContainer {
        align-items: center;
    }

    .photoContainer img {
        height: 150px;
        width: 150px;
    }
}

@media screen and (max-width: 680px) {
    .header {
        height: fit-content;
        min-height: none;

        width: 100%;
        min-width: 225px;

        padding-bottom: 2em;

        flex-direction: column;
    }

    .photoContainer {
        align-items: center;

        height: 100px;
        width: 100%;

        padding: 0;

        margin-bottom: 3em;
    }

    .photoContainer img {
        height: 100px;
        width: 100px;
    }

    .textContainer {
        height: 100px;
        width: 100%;

        padding: 0;
    }

    .textContainer h1 {
        font-size: 1.25em;
    }

    .textContainer p {
        font-size: 0.8em;

        padding: 0em 1em;
    }
}