:root {
    --clr-black: rgb(22, 22, 22);
    --clr-light-black: rgb(16, 16, 16);
    --clr-gray: rgb(145, 145, 145);
    --clr-dark-gray: rgb(97, 97, 97);

    --clr-border-error: rgb(125, 0, 0);
}

::selection {
    color: var(--clr-light-black);
    background-color: var(--clr-gray);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 600px;
    width: 450px;

    background-color: var(--clr-black);
    border-radius: 2em;
    box-shadow: 0em -1em 1em var(--clr-light-black),
                0em 1em 1em var(--clr-light-black),
                1em 0em 1em var(--clr-light-black),
                -1em 0em 1em var(--clr-light-black);
}

.lockIcon {
    width: 1.2em;
    height: 1.2em;

    font-size: 2.75em;
    color: var(--clr-gray);

    margin-top: .5em;
    margin-bottom: 1.5em;
}

.lockIcon.rotate {
    animation: rotateLock 2s linear;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs input {
    width: 75%;

    font-size: 1.75em;
    color: var(--clr-gray);

    margin: 1em 1em 0.5em 1em;
    padding: 0em .15em;

    background-color: transparent;

    border: none;
    border-bottom: .1em solid var(--clr-gray);
}

.inputs p {
    align-self:flex-start;

    font-size: 1em;
    font-weight: 800;

    margin: 0;
    margin-left: 3em;
    
    color: transparent;

    visibility: visible;
}

.inputs input.redBorder {
    border-bottom: .1em solid var(--clr-border-error);
}

.inputs input:focus {
    outline: none;
}

.inputs ::placeholder{
    font-size: .9em;
    color: var(--clr-dark-gray);
}

.inputPassword input {
    transform: translateX(.75em);
}

.eyeIcon {
    height: 1.2em;
    width: 1.2em;

    font-size: 1.2em;
    color: var(--clr-gray);

    margin-bottom: .1em;

    transform: translateX(.3em);
}

.button button {
    margin-top: 2.5em;
    padding: .35em .75em;

    font-size: 1.5em;

    color: var(--clr-gray);
    background-color: transparent;

    border: .12em solid var(--clr-gray);
}

.button button:hover {
    cursor: pointer;
}

@keyframes rotateLock {
    0%, 100% {
        opacity: 1;
      }

    50% {
        opacity: 0;
      }
}

@media (max-width: 550px) or (max-height: 650px) {
    .form {
        width: 175px;
        height: 250px;

        border-radius: 1em;
        
        box-shadow: 0em -.1em .5em var(--clr-light-black),
            0em .1em .5em var(--clr-light-black),
            .1em 0em .5em var(--clr-light-black),
            -.1em 0em .5em var(--clr-light-black);
    }
    
    .lockIcon {
        margin-top: .75em;
        font-size: 1em;
    }

    .inputs input{
        font-size: .75em;

        margin: 1em 0em;
    }

    .inputs p {
        font-size: 0.25em;

        margin-left: 4.5em;
    }

    .inputPassword input {
        transform: translateX(1.5em);
    }

    .eyeIcon {
        font-size: .3em;

        margin: 0;
        padding: 0;

        height: 1.6em;
        width: 1.6em;

        transform: translateX(5em);
    }

    .button button{
        font-size: .75em;
        margin-bottom: 1em;
    }
}