::root {
    --clr-border: rgb(64, 64, 64);
}

.createBlogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.createBlogs .addBlogForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.createBlogs .addBlogForm .upperPanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;

    width: 100%;
}

.createBlogs .addBlogForm .lowerPanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;

    width: 100%;
}

.createBlogs .addBlogForm .leftPanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    gap: 1em;

    width: 50%;

    padding: 1em 3em;
}

.createBlogs .addBlogForm .rightPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    width: 50%;

    padding-top: 3em;
}

.createBlogs .addBlogForm h1 {
    color: var(--clr-gray);
}

.createBlogs .addBlogForm label {
    font-size: 1em;
    color: var(--clr-gray);
    
    margin-left: .5em;
    margin-bottom: .5em;

    visibility: hidden;
}

.createBlogs .addBlogForm label[class="animatedLabel"] {
    animation: showLabelAnimation 1s;
}

.createBlogs .addBlogForm input[type="text"] {
    width: 100%;

    font-size: 1.15em;
    color: var(--clr-gray);

    padding: .5em .5em;

    border: .15em solid var(--clr-dark-gray);
    background-color: transparent;
}

.createBlogs .addBlogForm input[type="text"]:focus {
    border-color: var(--clr-gray);

    outline: none;
}

.createBlogs .addBlogForm textarea {
    height: 335px;
    width: 100%;
    
    font-size: 1.15em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--clr-gray);

    line-height: 1.5em;

    padding: .5em .5em;
    
    border: .15em solid var(--clr-dark-gray);
    background-color: transparent;

    resize: none;
}

.createBlogs .addBlogForm textarea:focus {
    border-color: var(--clr-gray);

    outline: none;
}

.createBlogs .addBlogForm textarea::-webkit-scrollbar {
    width: .6em;
}

.createBlogs .addBlogForm textarea::-webkit-scrollbar-track {
    background-color: var(--clr-dark-gray);
}

.createBlogs .addBlogForm textarea::-webkit-scrollbar-thumb {
    background-color: var(--clr-gray);
}

.createBlogs .addBlogForm p {
    width: 100%;

    font-size: 0.8em;
    color: var(--clr-dark-gray);

    text-align: right;
}

.blogNameContainer,
.blogDescriptionContainer,
.blogPhotoContainer {
    display: flex;
    flex-direction: column;
}

.createBlogs .blogNameContainer .blogNameParagraphsContainer {
    display: flex;
    flex-direction: row;

    width: 100%;
}

.createBlogs .blogNameContainer .blogNameParagraphsContainer p {
    width: 50%;
}

.createBlogs .blogNameContainer .blogNameParagraphsContainer p[id="blogNameErrorParagraph"] {
    font-weight: 700;
    color: rgb(125, 0, 0);

    margin-left: 0.5em;
    text-align: left;

    visibility: hidden;
}

.createBlogs .blogPhotoContainer {
    justify-content: center;
    align-items: center;
    gap: 2em;
    
    margin-top: 3.5em;

    width: 100%;
}

.createBlogs .blogPhotoContainer img {
    min-height: 350px;
    max-height: 500px;

    min-width: 40%;
    max-width: 70%;

    filter: brightness(0.25);
    image-rendering: -webkit-optimize-contrast;
}

.createBlogs .blogPhotoContainer img.animatedPhoto {
    animation: heartBeatPhotoAnimation .5s;
}

.createBlogs .blogPhotoContainer img.restartAnimation {
    animation: none;
}

.createBlogs .blogPhotoContainer button {
    height: 40px;
    width: 80px;

    font-size: 1.15em;

    color: var(--clr-gray);
    background-color: transparent;

    border: .12em solid var(--clr-gray);
}

.createBlogs .blogPhotoContainer button:hover {
    cursor: pointer;
}

.createBlogs .blogPhotoContainer .blogPhotoButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2em;
}

.createBlogs .submitButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;

    margin-top: 4em;
}

.createBlogs .submitButton button {
    height: 50px;
    width: 100px;

    font-size: 1.35em;

    margin-bottom: 2em;

    color: var(--clr-gray);
    background-color: transparent;

    border: .12em solid var(--clr-gray);
}

.createBlogs .submitButton button:hover {
    cursor: pointer;
}

@keyframes showLabelAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes heartBeatPhotoAnimation {
    0%, 50%, 100% {
        scale: 1;
    }

    25%, 75% {
        scale: 1.05;
    }
}

@media screen and (min-width: 2000px) {
    .createBlogs .blogPhotoContainer img {
        min-width: 400px;
        max-width: 800px;
    }
}

@media screen and (max-width: 1500px) {
    .createBlogs .blogPhotoContainer img {
        min-height: 225px;
        max-height: 425px;

        min-width: 200px;
        max-width: 450px;
    }
}

@media screen and (max-width: 1250px) {
    .createBlogs .blogPhotoContainer img {
        min-height: 220px;
        max-height: 275px;

        min-width: 200px;
        max-width: 325px;
    }
}

@media screen and (max-width: 1000px) {
    .createBlogs .addBlogForm h1 {
        font-size: 1.75em;
    }

    .createBlogs .addBlogForm .upperPanel {
        flex-direction: column;

        padding-top: 2em;
    }

    .createBlogs .addBlogForm .upperPanel .leftPanel {
        padding: 0;
    }

    .createBlogs .addBlogForm .upperPanel .leftPanel,
    .createBlogs .addBlogForm .upperPanel .rightPanel,
    .createBlogs .addBlogForm .upperPanel .blogNameContainer,
    .createBlogs .addBlogForm .upperPanel .blogDescriptionContainer {
        width: 100%;
    }

    .createBlogs .addBlogForm .upperPanel .blogNameContainer,
    .createBlogs .addBlogForm .upperPanel .blogDescriptionContainer {
        align-items: center;
    }

    .createBlogs .addBlogForm .upperPanel .leftPanel {
        justify-content: center;
        align-items: center;
    }

    .createBlogs .addBlogForm .upperPanel .leftPanel input,
    .createBlogs .addBlogForm .upperPanel .leftPanel textarea,
    .createBlogs .addBlogForm .upperPanel .leftPanel .blogNameParagraphsContainer,
    .createBlogs .addBlogForm .upperPanel .leftPanel .blogDescriptionContainer p {
        width: 90%;
    }

    .createBlogs .blogPhotoContainer {
        margin-top: 1em;
    }

    .createBlogs .blogPhotoContainer button {
        height: 30px;
        width: 60px;
        
        font-size: .8em;
    }

    .createBlogs .submitButton {
        margin-top: 2.5em;
    }

    .createBlogs .submitButton button {
        height: 35px;
        width: 70px;

        font-size: 1em;
    }
}

@media screen and (max-width: 700px) {
    .createBlogs .blogPhotoContainer img {
        min-width: 200px;
        max-width: 450px;
    }
}

@media screen and (max-width: 575px) {
    .createBlogs .blogPhotoContainer img {
        min-width: 200px;
        max-width: 350px;
    }
}

@media screen and (max-width: 390px) {
    .createBlogs .addBlogForm h1 {
        font-size: 1.2em;
    }

    .createBlogs .addBlogForm .upperPanel .leftPanel .blogNameParagraphsContainer,
    .createBlogs .addBlogForm .upperPanel .blogDescriptionContainer {
        font-size: .8em;
    }

    .createBlogs .blogPhotoContainer img {
        min-height: 100px;
        max-height: 200px;

        min-width: 150px;
        max-width: 300px;
    }
}

@media screen and (max-width: 265px) {
    .createBlogs .addBlogForm h1 {
        font-size: 1em;
    }

    .createBlogs .addBlogForm .upperPanel .leftPanel label {
        font-size: .8em;
    }

    .createBlogs .addBlogForm .upperPanel .leftPanel input {
        font-size: .9em;
    }

    .createBlogs .addBlogForm .upperPanel .leftPanel .blogNameParagraphsContainer p,
    .createBlogs .addBlogForm .upperPanel .blogDescriptionContainer p {
        font-size: .5em;
    }

    .createBlogs .blogPhotoContainer button {
        height: 20px;
        width: 40px;
        
        font-size: .45em;
    }

    .createBlogs .submitButton {
        margin-top: 1.5em;
    }

    .createBlogs .submitButton button {
        height: 22.5px;
        width: 40px;

        font-size: .6em;
    }
}