:root {
    --clr-black: rgb(15, 15, 15);
    --clr-light-black: rgb(16, 16, 16);
    --clr-gray: rgb(145, 145, 145);
    --clr-light-gray: rgb(181, 181, 181);
    --clr-dark-gray: rgb(97, 97, 97);
}

.adminPanel header {
    display: flex;
    align-items: center;
    gap: 3em;

    min-height: 100px;
    width: 100%;

    color: var(--clr-gray);
    background-color: var(--clr-light-black);
}

.adminPanel header a {
    font-size: 1.5em;

    margin: 0;
}

.adminPanel header a:hover {
    color: var(--clr-light-gray);

    cursor: pointer;
    text-decoration: underline; 
}

/* MENU */

menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;

    margin: 0;
    padding: 0em 4em;
}

/* ASIDE */

aside {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    margin: 0;
    padding: 0em 4em;

    flex: 1;
}

@media screen and (max-width: 730px) {
    .adminPanel header {
        flex-direction: column;
        gap: 0;

        min-height: auto;

        border-bottom: .08em solid var(--clr-dark-gray);

        -webkit-box-shadow: 0px 12px 10px -2px var(--clr-black);
        -moz-box-shadow: 0px 12px 10px -2px var(--clr-black);
        box-shadow: 0px 12px 10px -2px var(--clr-black);
    }

    .adminPanel header a {
        width: 100%;
        
        padding: 1em;

        text-align: center;

        border-top: .05em solid var(--clr-dark-gray);
    }

    .adminPanel header a.createBlogsLink {
        border-top: none;
    }

    menu {
        flex-direction: column;
        gap: 0;
        width: 100%;

        padding: 0;
    }

    aside {
        justify-content: center;
        width: 100%;

        padding: 0;
    }
}